.bundle
log/*.log
tmp/cache/*
tmp/sessions/*
tmp/sockets/*
tmp/pids/*
public/assets/*
db/*.sqlite3
.rvmrc
db/schema.rb
public/stylesheets/generated.css
public/javascripts/generated.css
tmp/restart.txt
