<br>
<%= will_paginate @critics %>  

<% i=0 %>
<% @critics.each do |critic| %>
<div class="grid_6" style="padding-bottom:20px">
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
</div>
<% i += 1 %>
<% if i%2==0 %>
	<div class="clear"></div> 
<% end %>
<% end %>

<br />

<%= will_paginate @critics %>

<!-- <%= link_to 'New critic', new_critic_path %> -->
