<h1>Listing critics</h1>

<table width="100%" cellpadding="3">
<% @critics.each do |critic| %>
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
<% end %>
</table>

<br />

<%= will_paginate @critics %> 

<!-- <%= link_to 'New critic', new_critic_path %> -->
