<h1>Listing critics</h1>

<table width="100%">
  <tr>
    <th>Movie</th>
    <th>Content</th>
    <th>Score</th>
    <th>User</th>
<th></th>

<!--     <th></th>
    <th></th>
    <th></th>
 -->  </tr>

<% @critics.each do |critic| %>
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
<% end %>
</table>

<br />

<%= will_paginate @critics %> 

<!-- <%= link_to 'New critic', new_critic_path %> -->
