<table width="100%" border="1" cellspacing="0">
  <tr>
	<th></th>
    <th>Title</th>
    <th>Imdb</th>
    <th>Aver.</th>
    <th>Quality</th>
    <th>Languages</th>
    <th>Subs</th>
    <th>Cast</th>
    <th>Director</th>
    <th>Critics</th>
    <th>By</th>
  </tr>

<% @movies.each do |movie| %>
<%= render :partial => 'movie_tr', :locals => {:movie => movie} -%>
<% end %>
</table>

<%= will_paginate @movies %> 
