<table width="100%" border="1" cellspacing="0">
  <tr>
	<th></th>
    <th><a href="/movies?order=title">Title</a></th>
    <th><a href="/movies?order=score">Imdb</a></th>
    <th>Aver.</th>
    <th>Quality</th>
    <th>Lang.</th>
    <th>Subs</th>
    <th>Cast</th>
    <th>Dir.</th>
    <th>Cr.</th>
    <th>By</th>
  </tr>

<% @movies.each do |movie| %>
<%= render :partial => 'movie_tr', :locals => {:movie => movie} -%>
<% end %>
</table>

<%= will_paginate @movies %> 
