<div id="tweets">
</div>
<script type="text/javascript" src="/javascripts/jquery.tweetable.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
 $('#tweets').tweetable({username: '<%= TwitterAccount -%>', limit:4});
});
</script>


<table width="100%" border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse;border:1px solid lightgrey">
  <tr>
	<th></th>
    <th><a href="/movies?order=title">Title</a></th>
    <th>Aver.</th>
    <th>Spec.</th>
    <th>Cast</th>
    <th><a href="/movies?order=score">Imdb</a></th>
  </tr>

<% @movies.each do |movie| %>
<%= render :partial => 'movie_tr', :locals => {:movie => movie} -%>
<% end %>
</table>

<%= will_paginate @movies %> 

<a href="/movies_full">full list</a>
