<div data-role="header"><h1>Last movies</h1></div> 

<div data-role="content">
  <ul data-role="listview">
    <% @movies.each do |movie| %>
    <li>
   	<% if movie.photo_file_name %>
	<%= image_tag(movie.photo.url(:xsmall), :alt => movie.title) %> 
	<% end %>

      <%= link_to movie.title, movie %>
      <%# link_to 'edit movie', edit_movie_path(movie), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>
