body { background: #336699; color: #333; }

body, p, ol, ul, td {
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #336699; }
a:visited { color: #5588bb; }
a:hover { color: #000 }

div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
	width:960px;
	border: 0px solid black;
	background: white;
	padding: 10px;
	margin:0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/* paginator */
.pagination {
  padding: 10px 3px 10px 3px;
  margin: 3px;
  margin-bottom: 10px;
}
.pagination a {
  padding: 5px 7px 5px 7px;
  margin: 0px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #aaa;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #336699;
  color: #3B3B3B;
}
.pagination span.current, .pagination a.current {
  padding: 5px 9px 5px 9px;
  margin: 1px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: #336699;
  color: #FFF;
}
.pagination span.disabled {
  padding: 5px 9px 5px 9px;
  margin: 1px;
  border: 1px solid #eee;
  color: #ddd;
}
.big_score {
	font-size: 18px;	
	border-radius: 5px;
	color: white;
	background-color: #336699;
	padding: 2px;
	width: 22px;
	text-decoration:none;
}
.big_score:hover,.big_score:visited {
	color:white;
}
.very_big {
	font-size: 30px;
	line-height: 48px;
	padding: 7px;
}
.small_genre {
	font-size:10px;
}