body { 
	background: #336699; 
	background: url(/images/bg.png);
	background-repeat-x: initial;
	background-repeat-y: initial;
	color: #333; 
}

body, p, ol, ul, td {
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #336699;
	text-decoration: none;
}
a:visited { color: #5588bb; }
a:hover { color: #000; text-decoration: underline; }

/* search field */
#s{ font-size: 24px}

#logo a:hover{text-decoration:none;}

.menu>a {
	border:1px solid lightblue;
	padding:3px;
}

.menu>a:hover {
	border:1px solid black;
	text-decoration:none;
	background: #EEE;
}

.small {
	font-size:13px;
	font-weight: normal;
}
.large {
	font-size:20px;
	font-weight: normal;
}

.movie_title {
	font-family: 'Lobster', arial, serif;
	font-size: 28px;
}
.large_movie_title {
	font-size: 38px;
}

/* big score button */
.big_score {
	color: white;
	font-size:30px;
	padding:12px;
	background-color: mediumseagreen;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.big_score:hover {
	cursor: pointer;
	background-color: black;
}
.big_score a {
	padding: 0px;
	color: white;
}
.big_score a:hover {
	text-decoration: none;
}

.score {
	background-color: #336699;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.notice {
  color: green;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
	width:960px;
	border: 0px solid black;
	background: white;
	padding: 10px;
	margin:0 auto;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}
/* paginator */
.pagination {
  padding: 10px 3px 10px 3px;
  margin: 3px;
  margin-bottom: 10px;
}
.pagination a {
  padding: 5px 7px 5px 7px;
  margin: 0px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #aaa;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #336699;
  color: #3B3B3B;
}
.pagination span.current, .pagination a.current {
  padding: 5px 9px 5px 9px;
  margin: 1px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: #336699;
  color: #FFF;
}
.pagination span.disabled {
  padding: 5px 9px 5px 9px;
  margin: 1px;
  border: 1px solid #eee;
  color: #ddd;
}

.very_big {
	font-size: 30px;
	line-height: 58px;
	padding: 7px;
}
.small_genre {
	font-size:11px;
	font-style:italic;
}

/* forms */
.large_form input {
	font-size: 20px;
}

/* misc */
#tweets ul {
	padding-left: 0px;
	margin-left: 0px;
}
#tweets li {
	list-style-image: url(../images/twitter.png);
}

hr {
	border: 1px dashed lightgrey;
}