<h1>Critics of <%= @user.username -%></h1>
<table border="0" cellspacing="5" cellpadding="5">
<% for critic in @critics %>
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
<% end %>
</table>
<%= will_paginate @critics -%>