<h1>Critics of <%= link_to @user.username, user_path(@user) -%></h1>
<%= will_paginate @critics -%>
<% for critic in @critics %>
<div class="grid_6" style="padding-bottom:20px">
<%= render :partial => '/critics/critic_tr', :locals => {:critic => critic} -%>
</div>
<% end %>
<div class="clear"></div> 
<%= will_paginate @critics -%>