<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
<th>Critics</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %> <% if user.superuser %><% end %></td>
    <td><%= user.email %></td>
	<td><%= user.critics.size -%></td>
  </tr>
<% end %>
</table>

<br />
<% if current_user.superuser %>
<%= link_to 'New user', new_user_path %>
<% end %>
